type hal_pa_fod_xiaomi_davinci, coredomain, domain;
hal_server_domain(hal_pa_fod_xiaomi_davinci, hal_pa_fod)

type hal_pa_fod_xiaomi_davinci_exec, exec_type, file_type;
init_daemon_domain(hal_pa_fod_xiaomi_davinci)
