type hal_pa_fod_xiaomi_davinci, coredomain, domain;
hal_server_domain(hal_pa_fod_xiaomi_davinci, hal_pa_fod)

type hal_pa_fod_xiaomi_davinci_exec, exec_type, file_type;
init_daemon_domain(hal_pa_fod_xiaomi_davinci)

# Allow binder communication with hal_display_default
binder_call(hal_pa_fod_xiaomi_davinci, hal_display_default)

# Allow binder communication with hal_fingerprint
binder_call(hal_pa_fod_xiaomi_davinci, hal_fingerprint)

# Allow hal_pa_fod_xiaomi_davinci to hal_display_hwservice
allow hal_pa_fod_xiaomi_davinci hal_display_hwservice:hwservice_manager find;

# Allow hal_pa_fod_xiaomi_davinci to hal_fingerprint_hwservice
allow hal_pa_fod_xiaomi_davinci hal_fingerprint_hwservice:hwservice_manager find;

allow hal_pa_fod_xiaomi_davinci { sysfs_tp_dispparam sysfs_tp_fodstatus }:file rw_file_perms;
