on early-init
    mount none /system/lib/modules/audio_adsp_loader.ko /vendor/lib/modules/audio_adsp_loader.ko bind
    mount none /system/lib/modules/audio_apr.ko /vendor/lib/modules/audio_apr.ko bind
    mount none /system/lib/modules/audio_bolero_cdc.ko /vendor/lib/modules/audio_bolero_cdc.ko bind
    mount none /system/lib/modules/audio_hdmi.ko /vendor/lib/modules/audio_hdmi.ko bind
    mount none /system/lib/modules/audio_machine_talos.ko /vendor/lib/modules/audio_machine_talos.ko bind
    mount none /system/lib/modules/audio_mbhc.ko /vendor/lib/modules/audio_mbhc.ko bind
    mount none /system/lib/modules/audio_native.ko /vendor/lib/modules/audio_native.ko bind
    mount none /system/lib/modules/audio_pinctrl_lpi.ko /vendor/lib/modules/audio_pinctrl_lpi.ko bind
    mount none /system/lib/modules/audio_pinctrl_wcd.ko /vendor/lib/modules/audio_pinctrl_wcd.ko bind
    mount none /system/lib/modules/audio_platform.ko /vendor/lib/modules/audio_platform.ko bind
    mount none /system/lib/modules/audio_q6.ko /vendor/lib/modules/audio_q6.ko bind
    mount none /system/lib/modules/audio_q6_notifier.ko /vendor/lib/modules/audio_q6_notifier.ko bind
    mount none /system/lib/modules/audio_q6_pdr.ko /vendor/lib/modules/audio_q6_pdr.ko bind
    mount none /system/lib/modules/audio_rx_macro.ko /vendor/lib/modules/audio_rx_macro.ko bind
    mount none /system/lib/modules/audio_snd_event.ko /vendor/lib/modules/audio_snd_event.ko bind
    mount none /system/lib/modules/audio_stub.ko /vendor/lib/modules/audio_stub.ko bind
    mount none /system/lib/modules/audio_swr.ko /vendor/lib/modules/audio_swr.ko bind
    mount none /system/lib/modules/audio_swr_ctrl.ko /vendor/lib/modules/audio_swr_ctrl.ko bind
    mount none /system/lib/modules/audio_tfa98xx.ko /vendor/lib/modules/audio_tfa98xx.ko bind
    mount none /system/lib/modules/audio_tx_macro.ko /vendor/lib/modules/audio_tx_macro.ko bind
    mount none /system/lib/modules/audio_usf.ko /vendor/lib/modules/audio_usf.ko bind
    mount none /system/lib/modules/audio_va_macro.ko /vendor/lib/modules/audio_va_macro.ko bind
    mount none /system/lib/modules/audio_wcd9xxx.ko /vendor/lib/modules/audio_wcd9xxx.ko bind
    mount none /system/lib/modules/audio_wcd934x.ko /vendor/lib/modules/audio_wcd934x.ko bind
    mount none /system/lib/modules/audio_wcd937x.ko /vendor/lib/modules/audio_wcd937x.ko bind
    mount none /system/lib/modules/audio_wcd937x_slave.ko /vendor/lib/modules/audio_wcd937x_slave.ko bind
    mount none /system/lib/modules/audio_wcd_core.ko /vendor/lib/modules/audio_wcd_core.ko bind
    mount none /system/lib/modules/audio_wcd_spi.ko /vendor/lib/modules/audio_wcd_spi.ko bind
    mount none /system/lib/modules/audio_wglink.ko /vendor/lib/modules/audio_wglink.ko bind
    mount none /system/lib/modules/audio_wsa881x.ko /vendor/lib/modules/audio_wsa881x.ko bind
    mount none /system/lib/modules/audio_wsa_macro.ko /vendor/lib/modules/audio_wsa_macro.ko bind
    mount none /system/lib/modules/exfat.ko /vendor/lib/modules/exfat.ko bind
    mount none /system/lib/modules/modules.alias /vendor/lib/modules/modules.alias bind
    mount none /system/lib/modules/modules.dep /vendor/lib/modules/modules.dep bind
    mount none /system/lib/modules/mpq-adapter.ko /vendor/lib/modules/mpq-adapter.ko bind
    mount none /system/lib/modules/mpq-dmx-hw-plugin.ko /vendor/lib/modules/mpq-dmx-hw-plugin.ko bind
    mount none /system/lib/modules/msm_11ad_proxy.ko /vendor/lib/modules/msm_11ad_proxy.ko bind
    mount none /system/lib/modules/qca_cld3_wlan.ko /vendor/lib/modules/qca_cld3_wlan.ko bind
    mount none /system/lib/modules/wil6210.ko /vendor/lib/modules/wil6210.ko bind

on post-fs
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind

on property:sys.boot_completed=1
    start vendor.msm_irqbalance
